<footer
  class="flex md:flex-row flex-col items-center justify-center md:justify-around bg-blue-100 mt-20 text-nude-100 pb-5">
  <!--------------------- Footer Dekstop  ------------------>

  <!-- Liens menu  -->
  <div class="link mt-8 flex flex-col gap-y-2 text-center">
    <a href="index.html" class="hover:text-corail-100 px-3 py-2 rounded-md" data-translate="home"></a>
    <a href="#" class="hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.product"></a>
    <a href="presentation.html" class="hover:text-corail-100 px-3 py-2 rounded-md"
      data-translate="menu.presentation"></a>
    <a href="contact.html" class="hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.contact"></a>
    <a href="blog.html" class="hover:text-corail-100 px-3 py-2 rounded-md" data-translate="menu.blog">
    </a>
  </div>

  <!-- Logo  -->
  <div class="flex flex-col items-center">

    <a href="index.html">
      <img src="../images/logo/emma-pierre-logo-blanc.png" alt="Logo"
        class="flex justify-center items-center mt-6 w-[226px] h-[176px] object-contain" />
    </a>

    <a href="#" class="text-center hover:text-corail-100 block px-3 py-2 rounded-md" data-translate="legal">
    </a>
    <a href="#" class="text-center hover:text-corail-100 block px-3 pt-[1px] py-2 rounded-md" data-translate="cgv"></a>
    <div class="w-24">
      <img src="../images/logo/madeinfrance-removebg-preview.png" class="w-full" alt="">
    </div>
  </div>



  <!-- Instagram  -->
  <div class="social-media  flex flex-col items-center justify-center">

    <div class="mb-10 flex flex-col gap-y-2">
      <h3 class="text-center font-semibold">Contact :</h3>
      <p class="text-center"> +33 07 88 54 98 52 </p>
      <p class="text-center"> emma.pierre@precieuse.fr </p>
    </div>

    <h3 class="text-center font-semibold" data-translate="follow"></h3>
    <a target="_blank" href="https://www.instagram.com/emmapierrejewels/">
      <svg class="w-[50px] h-[70px] fill-current hover:text-corail-100 cursor-pointer mt-1 md:ml-4 justify-center"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 169.063 169.063">
        <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
		c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
		c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
		c17.455,0,31.656,14.201,31.656,31.655V122.407z" />
        <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
		C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
		c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z" />
        <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
		c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
		C135.661,29.421,132.821,28.251,129.921,28.251z" />
      </svg>
    </a>
  </div>
  <script src="../lang/language.js"></script>
</footer>

<!-- Liens Script  -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>