<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-translate="title"></title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="stylesheet" href="../dist/output.css" />
  <link rel="shortcut icon" href="../images/logo/emma-pierre-logo-blanc.png" />
</head>

<body class="bg-nude-100 font-Jost">
  <div class="mx-4 lg:mx-[200px] md:mx-[100px] mb-36" id="navbar"></div>
  <div class="mx-4 lg:mx-[200px] md:mx-[100px] flex flex-col gap-y-6">
    <div class="absolute w-6/12 md:w-5/12 h-[72px] md:h-[217px] bg-corail-100 left-0 rounded-r-full opacity-25 -z-10">
    </div>
    <img src="../images/images/ImageHomepage.png" alt="image"
      class="absolute lg:w-[350px] lg:top-64 lg:h-[350px] md:top-[420px] lg:right-[200px] w-[100px] h-[100px] right-4 top-64 md:w-[200px] md:h-[200px]" />
    <div class="w-8/12 flex flex-col gap-y-2">
      <h1 class="font-title text-blue-100 text-7xl opacity-100 pt-10 md:pt-28 md:text-title"
        data-translate="title.home.jewelry"></h1>
      <p class="text-blue-100 font-Jost text-base md:text-2xl mt-7" data-translate="text.home.presentation.header"></p>
      <div class="w-24">
        <img src="../images/logo/madeinfrancebluepng.png" alt="">
      </div>
      <div>
        <a href="precieuse.html">
          <button class="group relative h-12 w-48 overflow-hidden rounded-lg bg-blue-100 text-lg shadow">
            <div class="absolute inset-0 w-3 bg-corail-50 transition-all duration-[600ms] ease-out group-hover:w-full">
            </div>
            <!-- md:w-1/2 text-nude-100 bg-blue-100 px-[7px] md:px-3 md:py-4 py-[10px] rounded-3xl mb-20 -->
            <span class="relative text-nude-100 group-hover:text-blue-100" data-translate="button.home.shop"></span>
          </button>
        </a>
      </div>
    </div>
    <div class="flex md:py-10 flex-wrap justify-center gap-x-4 md:gap-x-20 gap-y-4 md:flex-nowrap">
      <a href="precieuse.html" class="w-5/12 md:w-3/12 flex justify-center flex-col gap-y-2 items-center">
        <img src="../images/images/photo9.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase" data-translate="text.home.rock.precious"></p>
      </a>
      <a href="impertinentes.html" class="w-5/12 md:w-3/12 flex flex-col gap-y-2 items-center">
        <img src="../images/images/photo8.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase" data-translate="text.home.rock.sassy"></p>
      </a>
      <a href="unique.html" class="w-5/12 md:w-3/12 flex flex-col gap-y-2 items-center">
        <img src="../images/images/photo7.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase" data-translate="text.home.rock.unique"></p>
      </a>
      <a href="couleur.html" class="w-5/12 md:w-3/12 flex flex-col gap-y-2 items-center">
        <img src="../images/images/photo6.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase" data-translate="text.home.rock.color"></p>
      </a>
    </div>

    <div class="flex flex-col gap-y-2">
      <p class="font-extrabold text-blue-100 text-xl md:text-subTitle pb-4" data-translate="title.home.items.spotlight">
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": false, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100" data-translate="text.home.caroussel.text">
            </p>
            <p class="mb-4 text-blue-100 font-extrabold" data-translate="text.home.caroussel.price"></p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100" data-translate="text.home.caroussel.text">
            </p>
            <p class="mb-4 text-blue-100 font-extrabold" data-translate="text.home.caroussel.price"></p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100" data-translate="text.home.caroussel.text">
            </p>
            <p class="mb-4 text-blue-100 font-extrabold" data-translate="text.home.caroussel.price"></p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100" data-translate="text.home.caroussel.text">
            </p>
            <p class="mb-4 text-blue-100 font-extrabold" data-translate="text.home.caroussel.price"></p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100" data-translate="text.home.caroussel.text">
            </p>
            <p class="mb-4 text-blue-100 font-extrabold" data-translate="text.home.caroussel.price"></p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100" data-translate="text.home.caroussel.text">
            </p>
            <p class="mb-4 text-blue-100 font-extrabold" data-translate="text.home.caroussel.price"></p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
      </div>
      <div class="text-center mt-10">
        <a href="precieuse.html">
          <button class="group relative h-12 w-48 overflow-hidden rounded-lg bg-blue-100 text-lg shadow">
            <div class="absolute inset-0 w-3 bg-corail-50 transition-all duration-[600ms] ease-out group-hover:w-full">
            </div>
            <!-- md:w-1/2 text-nude-100 bg-blue-100 px-[7px] md:px-3 md:py-4 py-[10px] rounded-3xl mb-20 -->
            <span class="relative text-nude-100 group-hover:text-blue-100"
              data-translate="text.home.span.precious"></span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 mt-6 mb-20">
    <p class="mx-4 lg:mx-[200px] md:mx-[100px] text-blue-100 font-extrabold text-xl md:text-subTitle"
      data-translate="title.home.value"></p>
    <div class="w-full bg-nude-300 text-blue-100 px-5 py-[40px] text-center">
      <p class="lg:mx-[200px] md:mx-[100px] md:text-2xl" data-translate="text.home.value"></p>
    </div>
  </div>
  <div class="mx-4 lg:mx-[200px] md:mx-[100px] mt-6 md:flex md:justify-between">
    <div class="grid md:block grid-flow-row grid-cols-12">
      <div
        class="col-span-10 flex flex-col gap-y-4 justify-center bg-white rounded-xl items-center py-5 px-4 md:py-16 md:px-10">
        <div class="h-12 w-12">
          <img src="../images/avis/photoavis1.png" alt="image" class="rounded-full w-full h-full" />
        </div>
        <p class="text-center" data-translate="text.home.notice"></p>
        <div class="flex gap-1 items-center">
          <p class="text-corail-100" data-translate="text.home.notice.name"></p>
          <p data-translate="text.home.notice.com"></p>
        </div>
      </div>
    </div>
    <div class="grid md:block grid-flow-row grid-cols-12 md:mx-4 my-4 md:my-0">
      <div
        class="col-span-10 col-start-3 md:col-start-1 flex flex-col gap-y-4 justify-center bg-white rounded-xl items-center md:py-16 md:px-10 py-5 px-4">
        <div class="h-12 w-12">
          <img src="../images/avis/photoavis2.png" alt="image" class="rounded-full w-full h-full" />
        </div>
        <p class="text-center" data-translate="text.home.notice"></p>
        <div class="flex gap-1 items-center">
          <p class="text-corail-100" data-translate="text.home.notice.name"></p>
          <p data-translate="text.home.notice.com"></p>
        </div>
      </div>
    </div>
    <div class="grid md:block grid-flow-row grid-cols-12">
      <div
        class="col-span-10 flex flex-col gap-y-4 justify-center bg-white rounded-xl items-center md:py-16 md:px-10 py-5 px-4">
        <div class="h-12 w-12">
          <img src="../images/avis/photoavis3.png" alt="image" class="rounded-full w-full h-full" />
        </div>
        <p class="text-center" data-translate="text.home.notice"></p>
        <div class="flex gap-1 items-center">
          <p class="text-corail-100" data-translate="text.home.notice.name"></p>
          <p data-translate="text.home.notice.com"></p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer"></div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {
    $("#navbar").load("navbar.html");
  });

  $(function () {
    $("#footer").load("footer.html");
  });
</script>