<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-translate="title"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="../dist/output.css" />
  <link rel="shortcut icon" href="../images/logo/emma-pierre-logo-blanc.png" />

  </head>
  <body class="bg-blue-100 font-Jost">
    <div class="mx-4 lg:mx-[200px] md:mx-[100px] mb-36" id="navbar"></div>

    <!-- Presentation  -->
    <div class="bg-fil_ariane h-screen bg-no-repeat bg-top pb-[1700px]">
      <!-- 1 er bloc  -->
      <div class="grid md:grid-flow-dense grid-flow-col grid-cols-12">
        <div
          class="md:col-start-7 col-start-6 md:col-span-6 col-span-6 md:max-w-[200px] max-w-[150px]"
        >
          <img
            class="w-full h-32 mt-60 flex justify-center rounded-xl object-cover"
            src="../images/unsplash.png"
          />
        </div>
        <div
          class="md:col-start-10 col-start-6 md:mt-0 mt-4 md:col-span-6 col-span-6"
        >
          <p class="text-nude-100 md:mt-[-110px] md:w-[250px] w-[186px]">
            "Le nom de mon entreprise m'est venu spontanément en associant le
            diminutif de mon prénom avec ma passion pour les pierres
            ornementales.”
          </p>
        </div>
      </div>

      <!-- 2 ème bloc  -->
      <div class="grid md:grid-flow-dense grid-flow-col grid-cols-12">
        <div
          class="md:col-start-7 col-start-8 col-span-6 md:max-w-[200px] max-w-[150px]"
        >
          <img
            class="w-full h-32 md:mt-[14rem] mt-10 flex justify-center rounded-xl object-cover"
            src="../images/unsplash2.png"
          />
        </div>
        <div
          class="md:col-start-10 col-start-8 md:mt-0 mt-4 md:col-span-6 col-span-6"
        >
          <p class="text-nude-100 md:mt-[-90px] md:w-[250px] w-[186px]">
            “Depuis mon enfance, la multitude de couleurs et d'éclats de ces
            pierres continue de m'enchanter."
          </p>
        </div>
      </div>

      <!-- 3 ème bloc  -->
      <div class="grid md:grid-flow-dense grid-flow-col grid-cols-12">
        <div
          class="md:col-start-5 col-start-3 col-span-6 md:max-w-[200px] max-w-[150px]"
        >
          <img
            class="w-full h-32 md:mt-24 mt-2 flex justify-center rounded-xl object-cover"
            src="../images/zheng-angela-NAj5ZtDd6Ek-unsplash.jpg"
          />
        </div>
        <div
          class="md:col-start-2 col-start-3 md:mt-0 mt-4 md:col-span-5 col-span-6"
        >
          <p class="text-nude-100 md:mt-[-90px] md:w-[250px] w-[186px]">
            “Mon objectif en créant des bijoux est de donner à chaque femme la
            possibilité de porter des gemmes.”
          </p>
        </div>
      </div>

      <!-- 4 ème bloc  -->
      <div class="grid md:grid-flow-dense grid-flow-col grid-cols-12">
        <div
          class="md:col-start-5 col-start-6 col-span-6 md:max-w-[200px] max-w-[150px]"
        >
          <img
            class="w-full h-32 md:mt-32 mt-4 flex justify-center rounded-xl object-cover"
            src="../images/tessa-wilson-ECr_8nuXpBA-unsplash.jpg"
          />
        </div>
        <div
          class="md:col-start-2 col-start-6 md:mt-0 mt-4 md:col-span-5 col-span-6"
        >
          <p class="text-nude-100 md:mt-[-90px] md:w-[250px] w-[186px]">
            “Telles que le saphir, l’émeraude ou la tourmaline, belle méconnue
            se parant de mille teintes”
          </p>
        </div>
      </div>

      <!-- 5 ème bloc  -->
      <div class="grid md:grid-flow-dense grid-flow-col grid-cols-12">
        <div
          class="md:col-start-5 col-start-2 col-span-6 md:max-w-[200px] max-w-[150px]"
        >
          <img
            class="w-full h-32 md:mt-40 mt-4 flex justify-center rounded-xl object-cover"
            src="../images/nati-melnychuk-5ngCICAXiH0-unsplash.jpg"
          />
        </div>
        <div
          class="md:col-start-2 col-start-2 md:mt-0 mt-4 md:col-span-5 col-span-6"
        >
          <p class="text-nude-100 md:mt-[-110px] md:w-[250px] w-[186px]">
            "Mon unique objectif est que vous trouviez la pierre qui s’accordera
            à votre humeur du jour ou de toujours à un prix vous permettant de
            multiplier votre plaisir"
          </p>
        </div>
      </div>
    </div>

    <div id="footer"></div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(function () {
      $("#navbar").load("navbar-presentation.html");
    });
    $(function () {
      $("#footer").load("footer.html");
    });
  </script>
</html>
